/* reset */
* {
  margin: 0;
  padding: 0;
}

/* basic setting */
html {
  font-size: 16px;
}

h1 {
  font-size: 2.2rem;
  color: #333333;
  padding: 20px;
}

h1::before {
  content: "# ";
}

h2 {
  font-size: 2.0rem;
  color: #444444;
  padding: 20px;
}

h2::before {
  content: "## ";
}

code {
  font-family: monospace;
  font-size: 1.1rem;
  color: LightGrey;
}

.container {
  max-width: 960px;
  margin: auto;
}

.card-color {
  width: 800px;
  height: 140px;
  background-color: #abc;
  margin: auto;
}

.inside-code {
  width: 800px;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  background-color: #333333;
}

/* add here */
.ex1 {
  background-image: linear-gradient(Tomato, Pink);
}

.ex2 {
  background-image: linear-gradient(to right, Grey, LightGrey);
}

.ex3 {
  background-image: linear-gradient(to bottom right, Black, White);
}
