/* reset */
* {
  margin: 0;
  padding: 0;
}

/* basic setting */
html {
  font-size: 16px;
}

h1 {
  font-size: 2.2rem;
  color: #333333;
  padding: 20px;
}

h1::before {
  content: "# ";
}

p {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 960px;
  margin: auto;
}

.card-container {
  max-width: 860px;
  margin: auto;
}

.card-container::after {
  content: "";
  clear: both;
  display: table;
}

.card {
  margin: 5px;
  width: 200px;
  height: 136px;
  border: 2px solid LightGrey;
  border-radius: 5px;
  float: left;
}

.card:hover {
  box-shadow: 1px 5px 7px 1px rgba(12, 12, 12, 0.6);
}

.card-color-box {
  width: 200px;
  height: 90px;
}

/* color setting */
.box-color-tomato {
  background-color: Tomato;
}
.text-color-tomato {
  color: Tomato;
}

.box-color-orange {
  background-color: Orange;
}
.text-color-orange {
  color: Orange;
}

.box-color-dodgerblue {
  background-color: DodgerBlue;
}
.text-color-dodgerblue {
  color: DodgerBlue;
}

.box-color-mediumseagreen {
  background-color: MediumSeaGreen;
}
.text-color-mediumseagreen {
  color: MediumSeaGreen;
}

.box-color-gray {
  background-color: Gray;
}
.text-color-gray {
  color: Gray;
}

.box-color-slateblue {
  background-color: SlateBlue;
}
.text-color-slateblue {
  color: SlateBlue;
}

.box-color-violet {
  background-color: Violet;
}
.text-color-violet {
  color: Violet;
}

.box-color-lightgrey {
  background-color: LightGrey;
}
.text-color-lightgrey {
  color: LightGrey;
}

.box-color-000000 {
  background-color: #000000;
}
.text-color-000000 {
  color: #000000;
}

.box-color-111111 {
  background-color: #111111;
}
.text-color-111111 {
  color: #111111;
}

.box-color-222222 {
  background-color: #222222;
}
.text-color-222222 {
  color: #222222;
}

.box-color-333333 {
  background-color: #333333;
}
.text-color-333333 {
  color: #333333;
}

.box-color-444444 {
  background-color: #444444;
}
.text-color-444444 {
  color: #444444;
}

.box-color-555555 {
  background-color: #555555;
}
.text-color-555555 {
  color: #555555;
}

.box-color-666666 {
  background-color: #666666;
}
.text-color-666666 {
  color: #666666;
}

.box-color-777777 {
  background-color: #777777;
}
.text-color-777777 {
  color: #777777;
}

.box-color-888888 {
  background-color: #888888;
}
.text-color-888888 {
  color: #888888;
}

.box-color-999999 {
  background-color: #999999;
}
.text-color-999999 {
  color: #999999;
}

.box-color-aaaaaa {
  background-color: #aaaaaa;
}
.text-color-aaaaaa {
  color: #aaaaaa;
}

.box-color-bbbbbb {
  background-color: #bbbbbb;
}
.text-color-bbbbbb {
  color: #bbbbbb;
}

.box-color-cccccc {
  background-color: #cccccc;
}
.text-color-cccccc {
  color: #cccccc;
}

.box-color-dddddd {
  background-color: #dddddd;
}
.text-color-dddddd {
  color: #dddddd;
}

.box-color-eeeeee {
  background-color: #eeeeee;
}
.text-color-eeeeee {
  color: #eeeeee;
}

.box-color-ffffff {
  background-color: #ffffff;
}
.text-color-ffffff {
  color: #ffffff;
}
